html {
  background-image: url("https://t4.ftcdn.net/jpg/02/17/89/41/360_F_217894165_H4jRalQ4eg9Kp8XUVGEa7XFDEPtTQ9PY.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.addCityInp {
  position: absolute;
  left: 200px;
  top: 50px;
  height: 40px;
  width: 350px;
  font-size: 20px;
  border: 0px;
  border-radius: 30px;
  padding-left: 20px;
}

.button-70 {
  background-image: linear-gradient(#15b4cc, #105ebd);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  left: 600px;
  top: 47px;
}

.cards {
  margin-top: 200px;
}


a{
 height: 200px;
 width: 200px;
}